$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

@mixin easeOut{
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img{ // works because its in the body
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
        }
        &:after { // can be replaced with an after element
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($primary-color,$background-opacity);
            //opacity: $background-opacity;
            z-index: -1;
        }
    }
}

// Part 5
// Set text color
@function set-text-color($color){
    @if (lightness($color) > 40){
        @return #000;
    }
    @else{
        @return #FFF;
    }
}


// End Part 5

// Media query mixins
@mixin mdiaSm{
    @media screen and (max-width: 500px){ // css here only apply if screen is 500 px or less
        @content;

    }
}
@mixin mdiaMd{
    @media screen and (max-width: 768px){ 
        @content;

    }
}
@mixin mdiaLg{
    @media screen and (min-width(769px)) and (max-width: 1170px){ 
        @content;
    }
}
@mixin mdiaXl{
    @media screen and (min-width: 1171px){ // css here only apply if screen is 500 px or less
        @content;

    }
}